*{
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(to right, #8e2de2, #4a00e0);
}
header{
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	height: 50px;
}
header span{
	flex-basis: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}
header span i{
	font-size: 30px;
	color: purple;
}
header p{
	flex-basis: 20%;
	height: 50px;
	display: flex;
	align-items: center;
	font-size: 25px;
	color: purple;
	font-family: 'Noto Serif', serif;
}
#resume{
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#resume p{
	font-size: 20px;
	color: white;
	letter-spacing: 2px;
	text-shadow: 2px 2px 0px black;
}
#information-1{
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#information-1 div{
	flex-basis: 20%;
	height: 200px;
	color: white;
	background-color:rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0px 0px 7px white;
}
#information-1 div i{
	font-size: 50px;
	margin-bottom: 10px;
}
#information-1 div:hover, i p{
	color: purple;
	background-color: white;
	cursor: pointer;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;

}
main #container{
	width: 85%;
	padding: 20px;
	display: flex;
	background-color:rgba(0, 0, 0, 0.5);
}
main #container section{
	flex-basis: 40%;
}
main #container #result{
	flex-basis: 50%;
	height: 330px;
	border: 1px solid white;
	margin-left: 20px;
	padding: 15px;
	border-radius: 5px;
}
main #container #result form{
	margin-bottom: 50px;
}
main #container #result form input{
	width: 40%;
	background-color:rgba(0, 0, 0, 0.5);
	color: white;
}
main #container #result #results p{
	margin-top: 15px;
}
main #result{
	flex-basis: 40%;
	height: 300px;
	color: white;

}

/*AQUI INICIAN LOS RESPONSIVE DESIGNE*/
@media(max-width:1000px){
	main #container #result form input{
		width: 60%;
	}
}
@media(max-width:900px){
	#information-1 #third p{
		font-size: 15px;
	}
}
@media(max-width:877px){
	header p{
		flex-basis: 40%;

	}
}
@media(max-width:788px){
	#information-1 div p{
		font-size: 12px;
	}
	#information-1 #third p{
		font-size: 12px;
	}
}
@media(max-width:687px){
	#resume p{
		font-size: 15px;
	}
	header p{
		flex-basis: 50%;
	}
}
@media(max-width:629px){
	#information-1 #third p{
		font-size: 10px;
	}
}
@media(max-width:564px){
	#information-1 div p{
		font-size: 10px;
	}
}
@media(max-width:558px){
	#information-1{
		height: 600px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	#information-1 div{
		width: 50%;
		margin-bottom: 15px;
	}
	#information-1 div p{
		font-size: 15px;
	}
	#information-1 #third p{
		font-size: 15px;
	}
	#container{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
@media(max-width:549px){
	#resume p{
		font-size: 12px;
	}
}
@media(max-width:472px){
	#resume p{
		font-size: 10px;
	}
}
@media(max-width:419px){
	#resume{
		display: none;
	}
}
@media(max-width:351px){
	header p{
		flex-basis: 60%;
	}
}
@media(max-width:333px){
	main #container .bxslider{
		width: 200px;
		height: 300px;
	}
}
/*FIN DEL RESPONSIVE DESIGN*/

